@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif!important;
  background: #f6f9ff;
  color: #444444;
}

.main{
  max-width: 1440px;
  margin: 0 auto;
}

.section{
	margin-top: 50px;
}


.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  overflow: hidden;
}

.card-body{
	padding: 24px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

